<!DOCTYPE html>
<html>
  <head>
    <title><%= t('global.title') %></title>
    <link rel='shortcut icon' href='<%= image_url('money.png') %>'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  </head>

  <body>
    <%= render partial: 'shared/menu' %>

    <%= yield %>

    <%= render partial: 'shared/footer' %>
  </body>
</html>
